* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url('Image/desktop/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    padding: 32px 40px;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
}

.menu-button {
    display: flex;
    gap: 48px;
}

.button {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 165%;
    letter-spacing: 0px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}

.special-button {
    width: 140px;
    height: 56px;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 15px;
    line-height: 165%;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: none;
    color: #24303E;
}

.menu-description {
    display: flex;
    align-items: center;
    gap: 96px;
    flex-direction: column;
    margin-top: 96px;
}

.menu-description h1 {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 56px;
    line-height: 125%;
    letter-spacing: 9px;
    color: #FFFFFF;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-auto-rows: 600px;
}

.service-content {
    width: 445px;
    justify-self: center;
}

.service-content h1 {
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0px;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
    color: #24303E;
}

.service-content p {
    font-size: 18px;
    line-height: 165%;
    letter-spacing: 0px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: #808397;
    margin-bottom: 16px;
}

.learn-more {
    position: relative;
    display: inline-block;

    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #24303E;
    background: transparent;
    border: none;
    cursor: pointer;
}

.learn-more::after {
    content: "";
    position: absolute;
    left: -6px;
    right: -6px;
    bottom: -3px;

    height: 10px;
    opacity: 0.35;

    border-radius: 999px;
    z-index: -1;
}

.learn-more--yellow::after {
    background: #FAD400;
}

.learn-more--red::after {
    background: #FE7766;
}

.transform-image,
.stand-out-image {
    height: 100%;
}

.transform-image img,
.stand-out-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.graphic-design,
.photography {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.graphic-design {
    background-image: url('Image/desktop/image-graphic-design.jpg');
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.photography {
    background-image: url('Image/desktop/image-photography.jpg');
}

.photogrpahy-content {
    width: 445px;
    margin-bottom: 100px;
}